# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/
.venv/
.venv_linux/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
# optionally ignore migrations
# **/migrations/*.py
# !**/migrations/__init__.py

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Linux
*~

# Coverage
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
